#studio-content
{
    border-radius: 25px;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.5);    
    animation: fadeInAnimation ease 1s;
    display: block;
}

#studio-content #logo
{
    margin-top: 5%;
    text-align: center;
}

#studio-content #logo img
{
    width: 40%;
}

#studio-content #developers
{
    animation: fadeInAnimation ease 1s;
    animation-delay: .05s;
    font-size: 70%;
    margin-top: 8%;
    text-align: center;
}


#studio-content #developers #part
{
    margin-left: 3%;
}

#studio-content #developers #part #name
{
    font-size: 80%;
    margin-left: 1%;
}

#studio-content #developers #part img
{
    width: 8%;
}

#studio-content #description
{
    border-radius: 10px;
    font-size: 70%;
    animation: fadeInAnimation ease 1s;
    animation-delay: .05s;
    color: black;
    background-color: white;
    text-transform: uppercase;

    height: 100%;
    padding: 1%;
    margin-top: 6%;
    margin-left: 2%;

    text-align: left;
}   

#studio-content #screenshot
{
    margin-top: 6%;
    margin-left: 2%;
}

#studio-content #screenshot img
{
    animation: fadeInAnimation ease 1s;
    animation-delay: .05s;
    
    border-radius: 10px;
    width: 100%;
}