@import url('//fonts.googleapis.com/css?family=Cuprum');
@import url('http://fonts.cdnfonts.com/css/subway-ticker');

/* *{outline: red solid 1px;} */

*
{
    margin: 0;
    padding: 0;
    transition: .4s;
}

body 
{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300% 300%;
    animation: gradient 30s ease infinite;
}
  

body
{    
    /* background-color: rgba(49, 40, 68);     */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #f1f1f1;
    font-family: 'Cuprum', 'sans-serif';
    font-size: 24pt;
    list-style: none;
    text-decoration: none;

}


a
{
    color: white;
    text-decoration: none;
}

ul
{
    list-style-type: none;
}

#footer
{
    z-index: 999;
    margin-top: 97.5vh;
    position: fixed;
    background-color: transparent;
    background-color: rgba(0,0,0, .7);
}

#footer #copyright
{
    padding-left: 85%;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-size: 10pt;
}

#bottom-spacing
{
    height: 5%;
}

#sidebar
{
    z-index: 9999;
    position: fixed;
    background-color: transparent;
    background-color: rgba(0,0,0, .7);
    height: 100vh;
    font-size: 90%;
}

.navbar
{
    background-color: transparent;
    background-color: rgba(0,0,0, .7);
}

.navbar .navbar-brand
{
    width: 4%;
}


.navbar .navbar-brand img
{
    width: 100%;
}

.navbar .navbar-item a
{
    color: white;
    transition: .4s;
    padding: 2%;
    text-align: center;
}

.navbar .navbar-item a:visited 
{
    color: white;
    transition: .4s;
    padding: 2%;
    text-align: center;
}

.navbar .navbar-item a:hover
{
    color: black;
    background-color: white;
    font-size: 120%;
    transition: .4s;
    text-align: center;
}

.navbar .navbar-item a:active 
{
    color: black;
    background-color: wheat;
    font-size: 140%;
    transition: .1s;
    text-align: center;
} 

#content-area #content
{
    height: 96vh;
    padding: 2%;
}

@keyframes fadeInAnimation 
{
    0% 
    {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% 
    {
        transform: translateY(0px);
        opacity: 1;
    }
}


@keyframes gradient
{
    0% 
    {
        background-position: 0% 50%;
    }
    50% 
    {
        background-position: 100% 50%;
    }
    100% 
    {
        background-position: 0% 50%;
    }
}